---
const { title } = Astro.props;
---

<header class='header'>
  <button class='header__logo'><h1>{title}</h1></button>
  <nav class="header__nav">
    <ul>
      <li><button class='header__nav-btn'>Blog</button></li>
      <li><button class='header__nav-btn'>Profile</button></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    /* background: rgba(0, 0, 0, 0.5); */
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header__logo {
      font-size: 16px;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: transparent;
      border: none;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
    }

    .header__nav {
      > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 2rem;
      }
    }

    .header__nav-btn {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: transparent;
      border: none;
      color: #ffffff;
      transition: color 100ms ease-in-out;
      text-decoration: none;
      cursor: pointer;

      .header:hover {
        color: '#ffffff';
      }
    }
</style>